<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Edit Portal</h2>
    <form method="POST" action="/posts/<%= post.id %>?_method=put"> <!--<form method="POST" action="/posts/<%= post.id %>?_method=patch"></form> -->
        <h2> User id : <%= post.id %></h2>
        <div>
            User Name : <input type="text" name="username" id="username" value="<%= post.username %>">
        </div>
        <div>
            <textarea name="content" rows="5" cols="30"><%= post.content %></textarea>
        </div>
        <button>submit</button>
    </form>
</body>
</html>